---
import { Image } from "astro:assets";
import Calendar from "../../assets/screenshots/schedule/Calendar.png";
---
<div class="w-full mt-6 bg-transparent block md:flex">
    <Image class={"w-auto h-44 md:h-52 grayscale"} src={Calendar} alt="Schedule App System" />
    <div class="mt-2 md:mt-0 ml-0 md:ml-4">
        <h2 class="font-playfair text-gray-700 text-2xl">
                Schedule System App
        </h2>
        <span class="border border-zinc-700 rounded text-gray-700 font-playfair text-xs px-2 pb-0.5">open-source</span>

        <p class="mt-2 text-sm font-inter text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod magnam dolore minima! Sequi autem pariatur possimus </p>
    </div>
</div>