---

---

<div class="mt-12">
  <h2 class="text-3xl text-gray-800 font-playfair tracking-light font-bold">
    About
  </h2>
  <p class="font-inter text-gray-900 mt-2">
    Hi, I'm Luis Moncada, a software developer.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae alias
    minima fugiat aliquam dicta laborum reprehenderit temporibus? Labore sint
    ipsum aliquid in, autem alias corporis fugiat ad neque doloremque id!
  </p>

</div>
