---

---

<div class="mt-12">
  <h2 class="text-3xl text-gray-800 font-playfair tracking-light font-bold">
    About
  </h2>
  <p class="font-inter text-gray-900 mt-12">
    Hi, I'm Luis Moncada, a passionate full-stack software developer originally
    from Venezuela, now based in New York. As an immigrant, I've embraced the
    challenge of building a career in the U.S. tech industry, constantly
    learning and growing to become a better version of myself.
  </p>

  <p class="font-inter text-gray-900 mt-2">
    I love solving problems through code and turning ideas into reality. Whether
    it's optimizing workflows, creating seamless user experiences, or
    architecting scalable systems, I thrive on challenges. I also enjoy working
    with diverse teams and leveraging my bilingual and bicultural background to
    communicate effectively and collaborate across different perspectives.
  </p>
</div>
