---

---

<div class="mt-12">
  <h2 class="text-3xl text-gray-800 font-playfair tracking-light font-bold">
    Blogs
  </h2>

  <div>
    <div class="mt-8 flex justify-between border-b border-gray-500 pb-5">
        <div>
            <h3 class="text-lg text-gray-800 font-playfair tracking-tight">This is the first blog post</h3>
            <p class="font-inter text-sm text-gray-900">This is the first blog post. </p>
        </div>

        <div>
            <a href="#" class="text-gray-500 hover:underline">Read more</a>
            <p class="text-sm text-gray-500">
               
                <span class="text-gray-700"> 2021-09-01</span>
            </p>
        </div>
    </div>

    <div class="mt-8 flex justify-between border-b border-gray-500 pb-5">
        <div>
            <h3 class="text-lg text-gray-800 font-playfair tracking-tight">This is the first blog post</h3>
            <p class="font-inter text-sm text-gray-900">This is the first blog post. </p>
        </div>

        <div>
            <a href="#" class="text-gray-500 hover:underline">Read more</a>
            <p class="text-sm text-gray-500">
               
                <span class="text-gray-700"> 2021-09-01</span>
            </p>
        </div>
    </div>


    <div class="mt-8 flex justify-between border-b border-gray-500 pb-5">
        <div>
            <h3 class="text-lg text-gray-800 font-playfair tracking-tight">This is the first blog post</h3>
            <p class="font-inter text-sm text-gray-900">This is the first blog post. </p>
        </div>

        <div>
            <a href="#" class="text-gray-500 hover:underline">Read more</a>
            <p class="text-sm text-gray-500">
               
                <span class="text-gray-700"> 2021-09-01</span>
            </p>
        </div>
    </div>
  </div>

  <div class="text-center mt-8">
    <a href="#" class="text-gray-800 font-playfair tracking-tight underline cursor-pointer">View all</a>
  </div>
</div>
