---
import ItemPost from "./blog/ItemPost.astro";

import { getCollection } from "astro:content";

const posts = await getCollection("blog");
const maxPosts = 3;

const postsToShow = posts.slice(0, maxPosts);
---

<div class="mt-12">
  <h2 class="text-3xl text-gray-800 font-playfair tracking-light font-bold">
    Blogs
  </h2>

  <div>
    {
      postsToShow.map((post: any) => (
        <ItemPost
          title={post.data.title}
          shortDescription={post.shortDescription}
          date={post.data.date}
          slugData={"/blog/post/" + post.slug}
        />
      ))
    }
  </div>

  <div class="text-center mt-8">
    <a
      href="/blog"
      class="text-gray-800 font-playfair tracking-tight underline cursor-pointer"
      >View all Posts</a
    >
  </div>
</div>
