---
import GithubIcon from "./Icons/github-icon.astro";
import LinkedinIcon from "./Icons/linkedin-icon.astro";
---

<div id="container" class="px-4 xl:px-0">
  <main>
    <div class="flex items-center flex-wrap pt-8">
      <div class="flex justify-center w-full md:w-auto md:block">
        <img
          src="/perfil.jpeg"
          class="rounded-full size-56 grayscale"
          alt="Astro Logo"
        />
      </div>

      <div
        class="flex justify-center w-full mt-8 ml-0 md:w-auto md:block md:mt-0 md:ml-12"
      >
        <div>
          <h1 class="text-5xl text-gray-800 font-playfair tracking-light">
            Luis Moncada
          </h1>
          <p class="text-gray-700">Software developer</p>

          <div class="flex mt-2">
            <GithubIcon />
            <LinkedinIcon />
            <a
              href="/luismoncada_cv_general_2.pdf"
              target="_blank"
              rel="noopener noreferrer"
              class="border rounded-lg border-zinc-600 hover:bg-zinc-600 hover:text-gray-300 transition-colors px-2 py-0.5 text-xs font-playfair ml-1"
            >
              Resume
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
