---
import ItemProject from "./projects/ItemProject.astro"
---

<div class="mt-12">
  <h2 class="text-3xl text-gray-800 font-playfair tracking-light font-bold">
    Projects
  </h2>

  <div class="mt-4">

   <ItemProject />
   <ItemProject />
   <ItemProject />

  </div>

  <div class="text-center mt-8">
    <a
      href="/projects"
      class="text-gray-800 font-playfair tracking-tight underline cursor-pointer"
      >View all Projects</a
    >
  </div>
</div>
