---
import { getCollection, render } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import HeaderLanding from "../../../components/HeaderLanding.astro";
import BreadCumb from "../../../components/BreadCumb.astro";
import Footer from "../../../components/Footer.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { slug: post.slug },
  }));
}

const { slug } = Astro.params;

const posts = await getCollection("blog");
const post = posts.find((p) => p.slug === slug);

if (!post) {
  throw new Error("Post no encontrado");
}

const { Content } = await render(post);
---

<Layout>
  <HeaderLanding />
  <BreadCumb
    items={[
      {
        label: "Home",
        href: "/",
      },
      {
        label: "Blog",
        href: "/blog",
      },
      {
        label: post.data.title,
        href: "#",
      },
    ]}
  />
  <div class="mt-12">
    <h2 class="text-3xl text-gray-800 font-playfair tracking-light font-bold">
      {post.data.title}
    </h2>
  </div>
  <p>Date: <span class="font-playfair ml-2">{new Date(post.data.date).toLocaleDateString()}</span></p>
  <article
    class="mt-12 w-full prose prose-h1:font-playfair prose-p:font-playfair prose-h1:text-gray-800 prose-w-full prose-p:text-gray-800 prose-p:text-md prose-p:w-full prose-p:text-justify max-w-full"
  >
    <Content />
  </article>

  <Footer />
</Layout>
